<!DOCTYPE html>
<html lang="en-US">

<head>
	<title> Brininger Site </title>
	<link rel="icon" href="source\css\images\L.ico" />
	

<script>
function myfunction(){
	document.getElementById("mess").innerHTML = "NO";
}
</script>
</head>

<body>
	<h1 style="text-align:center; color:tan"> Richmond Brininger </h1>
	<hr>

	<p>
	<a href="picturegallery.html"> Picture Gallery </a> | <a href="404.html"> ShaneDiebold.com </a>
    </p>


	<h3 style="color:white"> Java Fullstack Developer </h3>
	<div class = "strokeme">
		<blockquote> As a student who just finished my bachelors in computer science, I am on the lookout for exciting 
			opportunities to begin my career. The majority of my coding experience lies in back end development, including 
			my contributions to my senior project, which utilized an MVC framework. These include creating a stylometry system 
			and plagiarism finder from the ground up. This is not exclusive though, as I have worked on making several websites 
			for different projects. I also have plenty of experience working with finished code, which built a stronger understanding
			of how large scale programs work. Finally, I am interested in other areas of computer science, such as security, and am 
			eager to learn more in these areas. 
		</blockquote>

		<blockquote> This will be my second degree following my bachelors in geophysics. Thanks to this I am able to offer the unique 
			combination of both computer science skills and geophysics skills. The former includes database manipulation and algorithm 
			creation, while the latter includes large data manipulation and data collection. I have experience in a myriad of languages 
			and am always eager to learn new ones, though I have logged the most hours on C++, C# and Java. It is likely that I will return 
			to get a masters in the future, but would like to spend a few years finding my strengths and areas of enjoyment first. 
		</blockquote>

		<blockquote> My work experience is also split between my degrees. I have real world experience working for a geophysics contracting
			company, which built up my team working skills and showed me how a small business operates; both in the office and in the field. 
			My time as a Google IgniteCS mentor gave me new appreciation for teachers as I was tasked with instructing a high school student 
			how to code. This was both fun and rewarding, and hopefully it resulted in my students continued interest in the subject. Finally,
			my time as a lifeguard has solidified holding down a schedule, working with others, and dealing with shifting hours in conjunction
			with heavy credit load semesters. 
		</blockquote>
	</div>
	<hr>

	<h3 style="color:white"> Project History </h3>

	<div class = "strokeme">
		<blockquote> My most recent project was to create an author identifier. This was acheived through a stylometry algorithm that analized 
			the word usage in each chunk of the book, and formed a shape based on that. Initlly this was preformed on all of the known works of 
			a particular author and concatenated them together to create an author shape. This shape was then stored to a database. After this 
			process was done with several authors, it then had the background info nessessary to operate. Once a book of unknown author is found, 
			it is run through the program to determine its shape. This shape is compared to all the author shapes and the closest one is returned. 
			It also takes the length of the book into considertion compared to each authors average book length.
			<!-- <a &emsp href="404.html">Author Finder</a> -->
		</blockquote>

		<blockquote> One of my other projects was a imitation of rainbow road created using OpenGL. This project was for a graphics class so the 
			main focus was on the visuals and how they interacted. The loop was one of the more difficult portions of the project, as it required 
			the animated car to flip upside down once it reached a certain part of the loop. This project seems simple enough, but through the 
			specialized format of OpenGl it was difficult.
			<!-- <a href="404.html">Rainbow Road</a> -->
		</blockquote>
	</div>
	<hr>
	<!-- <a href="https://www.linkedin.com/in/richmondbrininger/"> 
		<img style="float:left; margin-right:0px; padding-right:10px;" 
		src="styles\images\Linkedin.png" alt="Linkedin Logo" width="30" height="30"> 
		</img> 
	</a>

	<a href="https://www.facebook.com/lee.brininger"> 
		<img style="float:left; margin-right:0px; padding-right:10px;" 
		src="style\images\fb-art.png" alt="Facebook Logo" padding-left: 10pk; width="30" height="30"> 
		</img> 
	</a>

	<a href="https://github.com/LeeBrininger"> 
		<img style="float:left; margin-right:0px; padding-right:0px;" 
		src="styles\images\github.png"
		alt="Github Link" padding-left: 10pk; width="30" height="30"> 
		</img> 
	</a> -->
	<br><br>


	<!-- <div = "strokeme">
	<a href="wdwww.html">team we do what we want secret message platform</a>
	</div> -->

</body>
</html>