<h2>Please Login</h2>
<h5>If you do not have a login, sucks to suck</h5>


<div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
</div>
<div class="container">
    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required>
</div>
<div>
<button type="submit">Login</button>
</div>
<div>
<label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
</label>
</div>
<div class="container" style="background-color:#f1f1f1">
<span class="pass">Forgot <a href="#">password?</a></span>
</div>